body{
    background-image: url("images.jfif");
    background-size:1000px;

}
.container{
    background-image:url('NH30707_360x.webp');
    width:800px;
    height:500px;
    margin-left:400px;
    margin-top:100px;
    border-radius:20px;
    color:rgb(84, 25, 4);
    text-align: center;
    font-size:30px;
    box-shadow: 10px 10px 10px black;
}

.container  #display{
    font-size:30px;
    padding-top:50px;
    font-family:'kaushan Script','Times New Roman';
}

.container #generate{
    padding:20px;
    font-size:16px;
    border:none;
    background-color:rgb(84,25,4);
    color:beige;
    font-weight:bold;
    border-radius:4px;
    
}